@font-face {
  font-family: "Goia";
  src: url("./Goia-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Goia";
  src: url("./Goia-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Goia";
  src: url("./Goia-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Goia";
  src: url("./Goia-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}